In [1]:
import pandas as pd
import seaborn as sns

In [2]:
TRAIN_FEATURE_INPUT = "../data/features/train_features.csv"
TRAIN_TIMESERIES = "../data/features/train_timeseries.csv"
TEST_FEATURE_INPUT = "../data/features/test_features.csv"
TEST_TIMESERIES = "../data/features/test_timeseries.csv"
TRAIN_WIDE_DF = "../data/features/train_wide_df.csv"
TEST_WIDE_DF = "../data/features/test_wide_df.csv"

In [3]:
train_df = pd.read_csv(TRAIN_FEATURE_INPUT)
train_ts = pd.read_csv(TRAIN_TIMESERIES)
test_df = pd.read_csv(TEST_FEATURE_INPUT)
test_ts = pd.read_csv(TEST_TIMESERIES)

In [4]:
train_df.shape, test_df.shape, train_ts.shape, test_ts.shape

((2736, 70), (20, 69), (996, 121), (2, 121))

In [5]:
train_df.head()

,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,Physical-Waist_Circumference,...,Physical-Season.1,Fitness_Endurance-Season.1,FGC-Season.1,BIA-Season.1,PAQ_A-Season.1,PAQ_C-Season.1,SDS-Season.1,PreInt_EduHx-Season.1,id,sii
0,-1.334294,-1.528487,-0.757178,0.87588,-1.296014,-1.312201,-0.476635,-1.392050,-0.881360,1.618361e-15,...,-1.312201,0.790228,-1.328323,-1.500866,0.351106,0.882046,1.842513,-1.320530,00008ff9,2
1,0.463160,-0.361407,-0.757178,1.61460,0.000000,-1.312201,-1.079060,-1.110744,-0.995576,-2.106935e+00,...,-1.312201,0.790228,-1.328323,0.495101,0.351106,-1.863435,-1.344537,0.457069,000fd460,0
2,0.463160,-0.069637,1.320694,-1.34028,0.534609,-1.312201,-0.525100,0.084807,-0.291242,1.618361e-15,...,-1.312201,-1.914042,-1.328323,1.160423,0.351106,-0.490695,-1.344537,0.457069,00105258,0
3,1.361886,-0.361407,-0.757178,-1.34028,0.534609,0.327526,-0.176658,0.014480,-0.148472,1.618361e-15,...,0.327526,-0.561907,0.403529,-0.170221,0.351106,0.195676,0.248988,1.345869,00115b9f,1
4,-0.435567,0.805674,1.320694,0.87588,-1.387545,0.327526,0.668686,0.506766,0.579658,1.618361e-15,...,0.327526,0.790228,0.403529,-0.170221,0.351106,-1.177065,0.248988,-0.431731,001f3379,1

In [6]:

all([i in train_df.id.tolist() for i in train_ts.id.tolist()]), all([i in test_df.id.tolist() for i in test_ts.id.tolist()])

(True, True)

In [7]:

# two train datasets, one with features and one with features + timeseries
train_wide_df = pd.merge(train_df, train_ts, on="id")
test_wide_df = pd.merge(test_df, test_ts, on="id")

train_df.shape, test_df.shape, train_wide_df.shape, test_wide_df.shape

((2736, 70), (20, 69), (996, 190), (2, 189))

In [ ]:

train_wide_df.to_csv(TRAIN_WIDE_DF, index=False)
test_wide_df.to_csv(TEST_WIDE_DF, index=False)